@import "./nullstyle.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html,
body {
	font-family: 'Poppins', sans-serif;
}

.none{
    display: none;
}
.container{
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 32px;
}

.container--header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 100%;
}


.header {
	height: 800px;
	padding-top: 31px;
	padding-bottom: 100px;

	background-color: #000;
	background-image: url(./../source/Header/headerMainScreen.jpg);
	background-size: cover;
	background-position: center center;

	border-radius: 0 0 54px 54px;

	color: #fff;
}

.header a{
    color: white;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.logo {
}
.nav-list {
    display: flex;
    column-gap: 54px;
    

}
.nav-list__item {
    text-transform: capitalize;
}

.nav-list__link {
    color: white;
    opacity: 0.7;
}

.nav-list__link--active {
    opacity: 1;
}

.user {
    display: flex;
    column-gap: 8px;
    align-items: center;
}
.user__hello {
    color: white;
    opacity: 0.5;
    font-size: 14px;
    line-height: 1.5;
}
.user__username {
    color: white;
    opacity: 1;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
}


.header__content {
	display: flex;
	top: 0;
	flex-direction: column;
	align-items: center;
	row-gap: 32px;
}
.header__title {
	text-align: center;
	font-weight: 600;
	font-size: 48px;
	line-height: 1.3;
	color: #ffffff;
}
.btn-globe {
    display: flex;
    align-items: center;
    column-gap: 10px;

    height: 72px;
    padding: 24px;

    background: #7b61ff;
    border-radius: 12px;

    color: white;
    font-size: 18px;
    font-weight: 600;

    transition: all 0.2s ease-in;
}

@media only screen and (max-width: 600px){
    .btn-globe{
        padding: 12px;
        font-size: 16px;
    }
    

}

.btn-globe:hover{
    background: #6344ff;
}

.form {
    display: flex;
    align-items: center;
    align-self: center;
	width: 1140px;
	height: 88px;
	padding: 8px;

	color: #000;
	background-color: #fff;
	border-radius: 12px;
}

.form__input-wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 16px 56px;

    background-repeat: no-repeat;
    background-position: 16px 24px;
}

.form__input--location {
    width: 300px;
    background-image: url('./../source/Header/icon.svg');
}

.form__input--activity {
    width: 255px;
    background-image: url('./../source/Header/icon-1.svg');
}

.form__input--guests {
    width: 255px;
    background-image: url('./../source/Header/icon-2.svg');

}

.form__input--date {
    width: 255px;
    background-image: url('./../source/Header/icon-3.svg');
}

.form__label {
    font-size: 14px;
    font-weight: 300;
    color: #5B5B5B;
}
.form__input {
    color: #161414;
    font-weight: 500;
    font-size: 16px;
}

.form__input::placeholder {
    color: #000;
}

/*.custom-select-container {
	width: 224px;
} */

.btn-search{
	width: 60px;
	height: 60px;
	padding: 18px;

	align-self: center;
	background: #7b61ff;
	border-radius: 12px;
	font-size: 0;
    transition: all 0.2s ease-in;
}
.btn-search:hover{
    background: #6344ff;
}




.title-1{
    margin-bottom: 64px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1, 5;
    color: #161414;
}

.main {
    padding: 120px 0;
    display: grid;
    gap: 120px;
}
.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__cards {
    display: grid;
    gap: 32px;
}

.section__cards--popular {
    grid-template-columns: repeat(6,2fr);
}

.section__cards--4-in-row {
	grid-template-columns: repeat(4, 1fr);
}


.card{
    position: relative;
}

.card__link{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.card__img {
    border-radius: 12px;
    margin-bottom: 8px;

    width: 100%;
    object-fit: cover;
}


.card__img--h100{
    height: 100%;
}


.card__title {
    color: #161414;
    font-size: 15px;
    font-weight: 500;
}
.card__location {
    color: #979797;
    font-size: 13px;
}



.button-more {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px;
    height: 44px;
    background: #f6f4ff;
    border-radius: 12px;
    font-size: 16px;
    color: #5243c2;
}

.button-more:hover {
    background: #dcd6f1;

}
.section__cards--hotels {
    grid-template-columns: repeat(4,2fr);
}

.card__img--activities{
    margin-bottom: 16px;
}
.card__img {
    border-radius: 12px;
    margin-bottom: 8px;
}
.card__img--hotel{
    margin-bottom: 10px;
}
.card__title--hotel{
    margin-bottom: 12px;
}
.card__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
}
.card__location--icon {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
    background-image: url("./../source/Hotel/hotelLocation.svg");

}
.section__cards--activities{
    grid-template-columns: repeat(4,2fr);
}

.section__cards--travel {
    grid-template-columns: repeat(2,1fr);
}

.card--wide{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.card__img--no-margin{
    margin: 0;
}

.card__desc {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: flex-start;

}
.card__title--big {
    color: #161414;
    font-weight: 600;
    font-size: 20px; 
}
.card__text {
    color: #5B5B5B;
    font-size: 16px;
    line-height: 2;
}

.card__footer--wide {
    padding-right: 75px;
    margin-top: auto;
}
.card__footer-link {
    position: relative;
    font-size: 12px;
    color: #878787;
}

.card__footer-link:hover {
    color: #6344ff;
}

.card__footer-link--date {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0px 1px;
    background-image: url("./../source/Travel/date.svg");
}
.card__footer-link--user {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0px 1px;
    background-image: url("./../source/Travel/user.svg");
}
.card__footer-link--comments {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0px 1px;
    background-image: url("./../source/Travel/comments.svg");
}

.about-us {
    margin: 0 auto;
    max-width: 1144px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}
.about-us__desc {
    display: grid;
    gap: 32px;
    align-content: center;
}
.about-us__title {
    color: #161414;
    font-size: 32px;
    font-weight: 600;
}
.about-us__text {
    font-size: 16px;
    color: #5B5B5B;
    line-height: 2;
}
.about-us__img {
    border-radius: 24px;
    height: 100%;
    object-fit: cover;
}

.about-us__btn{
    justify-self: flex-start;
}


.footer {
    padding: 120px 0;
    background-color: #f9f9f9;
}

.footer__row {
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(3, auto);
}

.footer__copyright {
    max-width: 354px;
    display: grid;
    gap: 16px;
}
.footer__text{
    font-size: 13px;
    color: #5B5B5B;
}
.footer__socials{
    display: flex;
    gap: 32px;
    align-items: center;
}

.footer__nav-wrapper {
    display: flex;
    gap: 64px;
}



.footer__nav {
    display: grid;
    gap: 20px;
}
.footer__nav-title {
    font-size: 18px;
    font-weight: 500;
    color: #161414;
}
.footer__nav-list {
    display: grid;
    grid-template: 12px;
}
.footer__nav-link {
    color: #5B5B5B;
    font-size: 13px;
}

.footer__nav-link:hover {
    color: #7b61ff;
}


.footer__subscribe {
    max-width: 388px;
}
.footer__subscribe-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.subscribe {
    display: grid;
    grid-template-columns: auto 72px;
    gap: 16px;
}
.btn-sub {
    width: 72px;
    height: 72px;
    padding: 28px;
}

.subscribe__input-wrapper {
    position: relative;
}
.subscribe__input {
    padding: 32px 20px 16px 56px;

    height: 300px;
    height: 72px;
    background-color: white;
    border-radius: 12px;

    background-image: url(./../source/Footer/mail.svg);
    background-repeat: no-repeat;
    background-position: 18px 27px;
}
.subscribe__label {
    position: absolute;

    top: 26px;
    left: 56px;

    font-size: 14px;
    font-weight: 300;
    color: #5B5B5B;


    transition: all 0.2s ease-in;
    pointer-events: none;

}

.subscribe__input:focus ~ .subscribe__label{
    top: 16px;
    left: 56px;
}

.subscribe__input:valid ~ .subscribe__label{
    top: 16px;
    left: 56px;
}


.mobile-nav-btn {
    z-index: 999;
    display: none;
    
}
